body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: antiquewhite;
}

header, footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}

main {
    padding: 1em;
}

h1, h2 {
    color: #ecb9b9;
}

.profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
}

.project {
    border: 1px solid #ddd;
    margin: 1em;
    padding: 1em;
    flex: 1 1 30%;
}
